<div>
<div>
    input the text to redact:
    <input ng-model="$ctrl.keys" />

    <label for="case">Case Sensitive? </label> <input name="case" type="checkbox" ng-model="$ctrl.caseSensitive" />
</div>
    <div>
    Input the top secret text:<br>
        <button ng-click="$ctrl.loadSampleText()">Load Sample Text</button>
    <textarea ng-model="$ctrl.inputText"></textarea>

</div>
    <div>
        <button ng-click="$ctrl.goIndexRedact()">index redact this</button>
    <div>
        {{$ctrl.indexRedacted}}
    </div>
    </div>

    <br>
    <br>

    <regex-redactor input-text="$ctrl.inputText" phrases="$ctrl.keys"></regex-redactor>

</div>